@import url('https://api.fontshare.com/v2/css?f[]=general-sans@500,400&display=swap');
@import "tailwindcss";

:root {
  --color-accent: #2563eb;
  --color-bg-dark: #111827;
  --color-bg-light: #f1f5f9;
  --color-bg-white: #ffffff;
  --color-text-muted: #6b7280;
  --font-sans: 'General Sans', sans-serif;
  
  --background: var(--color-bg-dark);
  --foreground: var(--color-bg-white);
}

@theme {
  --color-accent: var(--color-accent);
  --color-bg-dark: var(--color-bg-dark);
  --color-bg-light: var(--color-bg-light);
  --color-bg-white: var(--color-bg-white);
  --color-text-muted: var(--color-text-muted);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
